<h2 id="title">Welcome to Ember</h2>

  {{#x-box config=(hash
      header=true
    ) as |box|}}
  x-box-content-from-app
    {{#box.header}}
       custom header from app 
    {{/box.header}}
  {{/x-box}}

{{outlet}}
