<h1 id="title">Demo - how to allow overwriting deep inside a component</h1>
  {{#x-box title="no tools"}}
   content
  {{/x-box}}

  {{#x-box customized=true title="with tools" as |box|}}
    {{#box.header as  |header |}}
      {{#header.tools}}
        <li>link 1</li>
        <li>link 2</li>
      {{/header.tools}}

      {{header}}
    {{/box.header}}

    {{#box.body}}
    content
    {{/box.body}}
  {{/x-box}}

{{outlet}}
