<h1 id="title">Demo - how to allow overwriting deep inside a component</h1>
  {{#x-box title="no tools"}}
   content
  {{/x-box}}

  {{#x-box title="with tools" tool_items=(array 
      (component 'link-to' 'index') 
      "<a href='#'>link text</a>"
    ) }}
    content
  {{/x-box}}

{{outlet}}
